.filter-bar {
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.category-select-container {
  display: flex;
}

.category-select {
  border: none;
  /* padding: 0.5rem 1rem; */
  /* margin: 1rem; */

  background-color: transparent;
  border: 1px solid var(--header-text-color);
}

.places-heading {
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
