.pricerange-container {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricerange-fieldset {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.number-input {
  border: none;
  width: 25%;
  /* padding: 0.5rem 0; */
}
