:root {
  --star-size: 1rem;
}

.container {
  display: flex;
  position: relative;
}

.star {
  font-size: var(--star-size);
}

.bg-container {
  position: relative;
}

.stars-container {
  height: var(--star-size);
  width: calc(var(--star-size) * 5);
  position: absolute;
}

.star-bg {
  opacity: 0.5;
}

.star-active {
  color: hsl(50, 100%, 60%);
}
