.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg-color);
  height: var(--header-height);
  /* box-shadow: var(--header-shadow); */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.title-container {
  display: flex;
  justify-content: center;
}

.logo-icon {
  color: var(--light-text);
  font-size: 2rem;
  position: absolute;
  left: -1.75rem;
  top: 0.25rem;
  z-index: 0;
}

.icon-container {
  width: 2rem;
  position: relative;
}

.title {
  font-family: 'Righteous', cursive;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--header-text-color);
  z-index: 0;
  position: relative;
}

.title-o {
  opacity: 0;
}
