main {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100vw;
  height: var(--main-content-height);
}

.places-section {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.map-section {
  width: 70%;
}
