main {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100vw;
  height: var(--main-content-height);
}

.places-section {
  background-color: hsla(200, 30%, 95%, 0.75);

  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  width: 25%;
  z-index: 1;
  position: relative;
  box-shadow: 0.25rem 0.05rem 10px 1px rgba(0, 0, 0, 0.3);
}

.map-section {
  width: 75%;
}
