main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 92vh;
}

.places-section {
  width: 30%;
  height: 100%;
}

.map-section {
  /* margin-top: 8vh; */
  width: 70%;
  height: 100%;
}
