.place-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  /* height: calc((100% - 3rem) / 2); */
  height: calc(100% - 2rem);

  position: relative;

  box-shadow: var(--box-shadow);

  border-radius: 0.5rem;
}
.image-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.place-heading {
  width: 100%;
  /* height: 25%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.contact_info-icon {
  font-size: 1.5rem;
}

.place-summary {
  height: 50%;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
}

._summary-customers {
  display: flex;
  flex-direction: column;
}

._summary-address {
  display: flex;
  flex-direction: column;
}

.place-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

._summary-tags {
  width: 100%;
  overflow-y: scroll;
}

._tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.125rem;
}
